

   .navbar {
    padding: 12px 24px;
    /* background: linear-gradient(135deg, #ffffff, #313896); */
    /* background: red; */
    color: white;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Smooth bottom shadow */
    transition: box-shadow 0.3s ease-in-out;
    z-index: 2;
    
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* background:green */
  }

  
  /* .update-password-btn {
    background: white;
    color: #555;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
  } */
  .update-password-btn {
    background: linear-gradient(135deg, #ffffff, #f4f4f4); /* Elegant gradient */
    color: var(--deep-blue);
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #313896;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .update-password-btn:hover {
    background: linear-gradient(135deg, #ffffff, #eceff1);    
    transform: translateY(-2px); /* Slight lift effect */
    box-shadow: 0 6px 12px rgba(79, 70, 229, 0.3); /* Increased glow */
  }
  
  .update-password-btn:active {
    transform: scale(0.95); /* Slight press effect */
  }
  

  .nav-title {
    font-size: 22px;
    font-weight: 700;
    /* letter-spacing: 1px; */
    text-transform: capitalize;
    color:var(--deep-blue);
    /* background: var(--deep-blue); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: "Poppins", sans-serif;
    margin-right: 2%;
  }

  .logout-btn {
    background-color: #ef4444; /* Red */
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  
  .logout-btn:hover {
    background-color: #dc2626; /* Darker red */
    transform: scale(1.05);
  }
  